version: '3'

services:

  postgres:
    image: postgres
    ports:
      - "5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pact
    volumes:
      - postgres_data:/var/lib/postgresql/data

  broker_app:
    image: dius/pact-broker
    ports:
      - "80:80"
    environment:
      PACT_BROKER_DATABASE_USERNAME: postgres
      PACT_BROKER_DATABASE_PASSWORD: password
      PACT_BROKER_DATABASE_HOST: postgres
      PACT_BROKER_DATABASE_NAME: pact
      PACT_BROKER_LOG_LEVEL: DEBUG
volumes:
  postgres_data: